<html>
<head>
  <title>Damadam</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
 <link rel="stylesheet" type="text/css" media="screen and (min-width: 150px)" href="{{ STATIC_URL }}css/main2.css">


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
</head>
<body>
<span id="chromeFix"></span>
<h1>Damadam</h1>
<h5>Bind gupshup aur Internet links!</h5>
<div class="navbar">
<p>
    <a href="{% url 'home' %}">Home</a> |
{% if user.is_authenticated %}
    <a class="sharing" href="{% url 'link_create' %}"><b>KUCH LIKHAIN</b></a> |
    <a href="{% url 'logout' %}">Logout</a> |
    <a href="{% url 'profile' slug=user.username %}">{{ user.username }}</a> 
{% else %}
    <a href="{% url 'login' %}"><b>KUCH LIKHAIN</b></a> |
    <a href="{% url 'registration_register' %}">Register</a> |
    <a href="{% url 'login' %}">Login</a> 
{% endif %}</p>
</div>
<div class="container">
{% block content %}
{% endblock %}
</div>
<footer>

<div id="bolded">
<ul>
<li>
{% block pagination %}</li>
{% endblock %}</ul>
</div>

  
  
  
</footer>
</body>
<span id="chromeFix"></span>
</html>
