{% extends "base.html" %}
{% load i18n %}
{% block content %}
{{ block.super }}
<div class=margin>
<h2>{{ object.username }} {% trans "ki profile" %}</h2>
	<div>
	<b class="profile">{% trans "Score:" %}</b>
	<a class="info">
	{% if object.userprofile.score %}
		{% if object.userprofile.score < 0 %}
			<b style="color:red;">{{ object.userprofile.score }}</b>
		{% else %}
			<b style="color:green;">{{ object.userprofile.score }}</b>
		{% endif %}
	{% else %}
		<b>{{ object.userprofile.score }}</b>
	{% endif %}
	</a>&nbsp;(<a href="{% url 'score_help' %}">?</a>)<br>
	</div>
	<div>
	<b class="profile">{% trans "About:" %}</b>
	{% if object.userprofile.bio %}
	<a class="info">{{ object.userprofile.bio }}</a>
	</div>
	{% endif %}
	<div>
	<b class="profile">{% trans "Age:" %}</b>
	{% if object.userprofile.age %}
	<a class="info">{{ object.userprofile.age }}</a>
	</div>
	{% endif %}
	<div>
	<b class="profile">{% trans "Ling:" %}</b>
	{% if object.userprofile.gender %}
		<a class="info">{% trans "Mahila" %}</a>
	{% else %}
		<a class="info">{% trans "Purush" %}</a>	
	</div>
	{% endif %}
	<div>
	<b class="profile">{% trans "Shaadi shuda:" %}</b>
	{% if object.userprofile.shadi_shuda %}
		<a class="info">{% trans "Yes" %}</a>
	{% else %}
		<a class="info">{% trans "No" %}</a>
	</div>
	{% endif %}
	<div>
	<b class="profile">{% trans "Shakal soorat:" %}</b>
	{% if object.userprofile.attractiveness %}
		{% if object.userprofile.attractiveness == '1' %}
		<a class="info">{% trans "Itni burri bhi nahi" %}</a>
		{% else %}
		<a class="info">{% trans "Shakal pe mat ja" %}</a>
		{% endif %}
	{% else %}
	<a class="info">{% trans "Ekdum kadak yaar" %}</a>
	{% endif %}
	</div>
{% if object.username == user.username %}
<p><a href='{% url "edit_profile" %}' class="button" style="color:white;background-color:#1947D1; border:solid;border-width:1px;border-radius:4px; padding-left:2px;padding-right:2px;padding-bottom:2px;border-color:#1947D1;">{% trans "Change my profile" %}</a></p>
{% endif %}
</div>
{% endblock %}
