{% extends "base.html" %}
{% load i18n %}
{% load comments %}
<!--{% load bootstrap_pagination %}-->
{% load urlize_target_blank %}
{% block content %}

{% if is_paginated %}
<ul start="{{ page_obj.start_index }}" class="zebra">
{% else %}
<ul class="zebra">
{% endif %}
{% for link in object_list %}
<li class="zebra"> 
<form method="POST" action="{% url 'vote' %}" class="vote_form">
	{% csrf_token %}
	<input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}">
	<input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}">
	<input type="hidden" id="id_value" name="value" class="hidden_id" value="1">		
	<input type="hidden" id="id_page" name="section_number" value="{{ forloop.counter }}">
	<!--{{ link.rank_score }}-->
	<span class="numbers">
    <b>
    {% if not page_obj.number|add:"-1" %}
    	{{ forloop.counter }}.
    {% else %}
    	{% if forloop.counter == 10 %}
    		{{ page_obj.number }}0.
    	{% else %}	
    		{{ page_obj.number|add:"-1" }}{{ forloop.counter }}.
    	{% endif %}
    {% endif %}
    </b>
    </span>
    {% if link.submitter.username == 'unregistered_bhoot' %}
    	<span class="bigger" style="color:#666666;">unregistered_bhoot:</span>
    {% else %}
		<a href="{% url 'profile' slug=link.submitter %}" class="bigger" style="font-family:'Noto Sans',arial;line-height:1; display:inline;text-shadow:0 0 0.1px blue;">{{ link.submitter }}:</a>
    {% endif %}
    <span style="color:black; font-size:125%; font-family:'Noto Sans', arial; line-height:1;text-shadow:0 0 0.1px black;"">{{ link.description|urlize_target_blank:25 }}</span>
	<a name="section{{ forloop.counter }}"></a> 	 
	
	{% if link.url %}
		<b><span style="font-size:121%; font-weight:100; font-family:'Noto Sans', arial; line-height:1;"><a href="{{ link.url }}" target="_blank">{{ link.url|urlize_target_blank:25 }}</a></span></b>
	{% endif %} 
	<p style="margin-top:0.6em">
	<a class="countofvotes">
		{% if link.votes %}
				{% if link.votes == 1 %}
					{% trans "1 vote" %}
				{% else %}
					{{ link.votes }} {% trans " votes" %}
			{% endif %}
		{% else %}
			{% trans "0 votes" %}
		{% endif %}	 
	</a>
	{% if not user.is_authenticated %}
		<a href="{% url 'registration_register' %}" class="fakebutton" style="background-color:#335CD6">{% trans "vote" %}</a>
	{% elif link.pk not in voted %}	
		<input class="voting" type="submit" id="id_valup" name="val" style="color:white;background-color:#2FC12F;font-weight:bold;border:none;" value="↑">
		<input  class="voting" type="submit" id="id_valdown" name="val" style="color:white;background-color:#FF0000;font-weight:bold;border:none;" value="↓">
	{% else %}
		<button style="background-color:white;color:#1947D1;box-shadow: 0 0 0.2px #335CD6;border-radius:3px;">{% trans "unvote" %}</button>	
	{% endif %}
	<a href="sms:+91234?body={{ link.description|add:" ||Aur dekho MUFT main www.damadam.in par"|urlencode }}" class="sms">SMS</a>
	{% get_comment_count for link as comment_count %}
	{% if comment_count %}
		<a href="{% url 'link_detail' pk=link.pk %}" style="color:#0033CC;cursor: pointer;">
		{{ comment_count }} {% if comment_count == 1 %}{% trans "comment" %}{% else %} {% trans "comments" %}{% endif %}
		</a>
	{% else %}
		<a href="{% url 'link_detail' pk=link.pk %}" style="color:#0033CC;cursor: pointer;">{% trans "comment karo" %}</a>
	{% endif %}
	</p>
</form>
</li>
{% endfor %}
</ul>
{% endblock %}


{% block pagination %}

{% if is_paginated %}
<div class="pagination">
	{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}#section0"><b  style="color:red;">&leftarrow;</b>{% trans "pichla panna" %}</a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0">{% trans "agla panna" %}<b style="color:green;">&rightarrow;</b></a>
    {% endif %}
</div>
{% endif %}
<!--{% bootstrap_paginate page_obj range=5 show_prev_next="true" previous_label="Pichla" next_label="Agla" show_first_last="false" %}-->
{% endblock %}
